<!-- <div class="main" id="main"> -->
<!-- "client c c" "a a admin" "d d department" -->
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-35 p-b-20">
      <!-- <span class="login100-form-title p-b-70"> Welcome </span> -->
      <span class="login100-form-avatar">
        <img src="../../assets/images/avatar-01.jpg" alt="AVATAR" />
      </span>
      <div
        class="wrap-input100 validate-input m-t-65 m-b-35"
        data-validate="Select"
      >
        <select class="input100" name="Client" id="cars" #category>
          <option value="client">Client</option>
          <option value="admin">Admin</option>
          <option value="department">Department</option>
        </select>
        <span class="focus-input100"></span>
      </div>
      <div
        class="wrap-input100 validate-input m-t-15 m-b-35"
        data-validate="Enter username"
      >
        <input
          class="input100"
          placeholder="username"
          type="text"
          name="username"
          #username
        />
        <span class="focus-input100"></span>
      </div>
      <div
        class="wrap-input100 validate-input m-b-50"
        data-validate="Enter password"
      >
        <input
          class="input100"
          placeholder="password"
          type="password"
          name="pass"
          #password
        />
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button
          class="login100-form-btn"
          (click)="login(username.value, password.value, category.value)"
        >
          Login
        </button>
      </div>
      <hr />
      <div class="container-login100-form-btn">
        <button class="login100-form-btn" (click)="openNav()">Sign Up</button>
      </div>
      <ul class="login-more p-t-30">
        <li class="m-b-8">
          <span class="txt1"> Forgot </span>

          <a href="#" class="txt2"> Username / Password? </a>
        </li>

        <li>
          <span class="txt1"> Don’t have an account? </span>

          <a href="#" class="txt2"> Sign up </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <div id="dropDownSelect1"></div> -->

<!--===============================================================================================-->
<!-- <script src="../../assets/vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!--===============================================================================================-->
<script src="../../assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/bootstrap/js/popper.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/daterangepicker/moment.min.js"></script>
<script src="../../assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../../assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../assets/js/main.js"></script>

<!--  -->

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
  <div class="container-fluid">
    <form
      [formGroup]="SignupForm"
      (ngSubmit)="onSubmit()"
      (keydown.enter)="$event.preventDefault()"
      #aForm
    >
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="username">User Name</label>
            <input
              type="string"
              class="form-control"
              id="username"
              formControlName="username"
              placeholder="User Name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="email"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Total Income"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="category">Category</label>
            <select
              class="form-select"
              formControlName="category"
              name="Client"
              #category
            >
              <option value="client">Client</option>
              <option value="admin">Admin</option>
              <option value="department">Department</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="pan_number">Pan Number</label>
            <input
              type="email"
              class="form-control"
              id="pan_number"
              formControlName="pan_number"
              placeholder="Pan Number"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
