<div class="container-fluid p-3">
  <div class="row">
    <div class="col">Add Field To Category:</div>
    <div class="col">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend"></div>
        <input
          type="text"
          class="form-control"
          #newField
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="addField(newField.value)">
        ADD
      </button>
    </div>
  </div>
  <div class="container-fluid p-1">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of items; index as i">
          {{ i + 1 }} - {{ item }}
          <hr />
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
