<div class="container-fluid p-3">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-primary" (click)="mineNewBlock()">
        Mine new block
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">Add Field To Category:</div>
    <div class="col">
      <select class="form-select" aria-label="Default select example" #category>
        <option value="one" selected>One</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend"></div>
        <input
          type="text"
          class="form-control"
          #newField
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div class="col">
      <button
        class="btn btn-primary"
        (click)="addField(category.value, newField.value)"
      >
        ADD
      </button>
    </div>
  </div>
  <div class="container-fluid p-1">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of Fields; index as i">
          {{ i + 1 }} - {{ item }}
          <hr />
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
